body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table,
td,
th {
    border: 1px solid;
    padding: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr:nth-child(even) {
    background-color: bisque;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

.car {
    flex: 50%;
    padding: 5px;
}